    <div class="card">
        <div class="card-header">Créer Composants</div>
        <div class="card-body ">
            <form class="form-row" [formGroup]="assetsForm"  (ngSubmit)="onSubmitForm()">
               <div class="col-md-6">
                   <input type="text"  formControlName="label" class="form-control " placeholder="Nom">
               </div> 
               <div class="col-md-3">
                  <select class="form-control " formControlName="idUnit">
                    <option ></option>
                    <option value="{{unit.idUnit}}" *ngFor="let unit of units">{{unit.abrv}}</option>
                </select> 
                
               </div>
               <div class="col-md-1">
                <button type="submit" [disabled]="assetsForm.invalid" class="btn btn-success "><span class="material-icons mt-1 ">add</span></button>
             </div>

            </form>
            
        </div>
    </div>
