.form-control.ng-touched.ng-invalid{border:2px solid red;}

.mat-foodeco {
    background-color: #2c3e4e;
    color: #fff;
}

.mat-red {
    background-color: rgb(218, 34, 34);
    color: #fff;
}

.mat-yellow {
    background-color: rgb(221, 221, 15);
    color: #fff;
}

.mat-blue {
    background-color: rgb(25, 25, 218);
    color: #fff;
}

.mat-green {
    background-color: rgb(41, 124, 41);
    color: #fff;
}