<div class="row mt-1">
  <div class="col-md-10">

    <input (keyup)="applyFilter($event)" placeholder="Recherche" class="form-control col-md-12">
  </div>

</div>
<div class="row mt-1">


  <div class="col-md-12">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="col-md-12" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> N de la commande </th>
          <td mat-cell *matCellDef="let row"> {{row.idOrder}} </td>
        </ng-container>

        <!-- Produit Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Produit</th>
          <td mat-cell *matCellDef="let row"> {{row.catalogOrder.title}} </td>
        </ng-container>

        <!-- Quantité Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
          <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        </ng-container>



        <!-- Commentaires Column -->
        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire </th>
          <td mat-cell *matCellDef="let row"> {{row.comments}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure </th>
          <td mat-cell *matCellDef="let row"> {{row.createdAt | date:"HH:mm"}} </td>
        </ng-container>

        <!-- Statut Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
          <td mat-cell *matCellDef="let row" (click)="onClickUpdateStatus(row)"
            [ngClass]="{'bg-danger': row.status==0,'bg-warning':row.status==1,'bg-primary':row.status==2,'bg-success':row.status==3}">
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>