.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  -webkit-box-shadow: 10px 4px 23px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 4px 23px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 4px 23px -12px rgba(0,0,0,0.75);
  background:white;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.horizontal-nav{
  background: #fafafa;
border-bottom: 0.01em solid #2C3E4E;
}
.fontFamily{
  color:#2c3e4e;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-menu:hover > .fontFamily {
  color:white !important;
  background-color: #2C3E4E;
  text-shadow: 0 0 4px white;
}

