agm-map {
    height:450px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background: #0072a3
  }