<div
></div>
    <div class = "card-body">
        <h1 class="text-center text-light">EMPLOYES</h1>
        <br />
        <mat-tab-group mat-align-tabs="center">
            <mat-tab class="text-light" label="ACTUELS">
                <br />
                
                    <app-custom-table [rowData]="currentUsersRowData"
                                [form]="formGroup"
                                (onRowClick)="disableFormControls($event)"
                                (id)="setCurrentId($event)"
                                [enableCheckbox]="false"
                                [allowMultiSelect]="true"
                                [sqPaginationConfig]="tablePaginationSettings"
                                [sqColumnDefinition]="columnDefinition">
                        </app-custom-table>
                
            </mat-tab>
            <mat-tab class="text-light" label="ANCIENS">
                <br />
                    <app-custom-table [rowData]="oldUsersRowData"
                                [enableCheckbox]="false"
                                [allowMultiSelect]="true"
                                [sqPaginationConfig]="tablePaginationSettings"
                                [sqColumnDefinition]="columnDefinition">
                        </app-custom-table>
            </mat-tab>
            <mat-tab  label="TOUS">
                <br />
                    <app-custom-table [rowData]="allRowData"
                                [enableCheckbox]="false"
                                [allowMultiSelect]="true"
                                [sqPaginationConfig]="tablePaginationSettings"
                                [sqColumnDefinition]="columnDefinition">
                        </app-custom-table>
            </mat-tab>
            
        </mat-tab-group>
        <div class="text-center">
            <button mat-fab color="primary" style="z-index: 5; margin-top: -30px;" aria-label="Ajouter un utilisateur" (click)="openForm()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
    </div>

<div class="container" *ngIf="showForm">
    <div class = "card bg-light mb-3">
        <div class="card-body" novalidate> 
            <h3 class="text-center" *ngIf="!updateForm">Formulaire d'ajout d'employé </h3>
            <h3 class="text-center" *ngIf="updateForm">Formulaire de modification d'employé </h3>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
        <mat-form-field class="half" appearance="outline" >
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="firstName">
            <mat-error *ngIf="!f.firstName.valid && f.firstName.touched">
                Veuillez bien remplir le champ Prénom
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="half" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="lastName">
            <mat-error *ngIf="!f.lastName.valid && f.lastName.touched">
                Veuillez bien remplir le champ Nom
            </mat-error>
        </mat-form-field>

    
        <mat-form-field class="half" appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput [max]="birthMaxDate" [matDatepicker]="picker" formControlName="dateOfBirth" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error *ngIf="!f.dateOfBirth.valid && formGroup.controls['dateOfBirth'].touched">
                Veuillez bien remplir le champ Date de naissance
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half" appearance="outline" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="!f.email.valid && formGroup.controls['email'].touched">
                Veuillez bien remplir le champ Email
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="admin">Admin</mat-option>
              <mat-option value="preparator">Préparateur</mat-option>
              <mat-option value="server">Serveur</mat-option>
            </mat-select>
            <mat-error *ngIf="!f.role.valid && formGroup.controls['role'].touched">
                Veuillez bien choisir un role
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="half" >
            <mat-label>Login</mat-label>
            <input matInput disabled placeholder="login" formControlName="login">
            <mat-error *ngIf="!f.login.valid && formGroup.controls['login'].touched">
                Veuillez bien remplir le champ Login
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="half" *ngIf="!updateForm">
            <mat-label>Mot de passe</mat-label>
            <input matInput placeholder="Mot de passe" formControlName="password">
            <mat-hint>Choisissez un mot de pase avec 6 caractéres au moins</mat-hint>
            <mat-error *ngIf="!f.password.valid && formGroup.controls['password'].touched">
                Veuillez bien remplir le champ Mot de passe
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half">
            <mat-label>Début de contrat</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="pickerz" formControlName="contractStart" disabled>
            <mat-datepicker-toggle matSuffix [for]="pickerz"></mat-datepicker-toggle>
            <mat-datepicker #pickerz disabled="false"></mat-datepicker>
            <mat-error *ngIf="!f.contractStart.valid && formGroup.controls['contractStart'].touched">
                Veuillez bien remplir le champ Début de contrat
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half">
            <mat-label>Fin de contrat</mat-label>
            <input matInput [min]="minEndDate" [matDatepicker]="pickera" formControlName="contractEnd" disabled>
            <mat-datepicker-toggle matSuffix [for]="pickera"></mat-datepicker-toggle>
            <mat-datepicker #pickera disabled="false"></mat-datepicker>
            <mat-error *ngIf="!f.contractEnd.valid && formGroup.controls['contractEnd'].touched">
                Veuillez bien remplir le champ Fin de contrat
            </mat-error>
        </mat-form-field>

        


  </div>
     
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Enregistrer</button>
      </div>
  
    </form>
  </div>

    </div>
</div>
