<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/home" style="color:green">FoodEco</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Accueil</a>
        </li>
      </ul>
      <button type="button" class="btn btn-success" routerLinkActive="active" routerLink="/login">S'identifier</button>
      <button type="button" class="btn btn-success" routerLinkActive="active" routerLink="/register">Inscription</button>
    </div>
</nav>

<router-outlet></router-outlet>
