agm-map {
    height:450px;
}

.togive-viewport {
    height: 100%;
    width: 100%;
}
  
.togive-item {
    margin-bottom: 9px;
}

.no-margin {
    margin-top: 0px; 
}

.detail-title {
    font-weight: bold;
}

.mat-foodeco {
    background-color: #1a9e21;
    color: #fff;
    width: 90%;

}

.mat-green {
    color: #1a9e21;
}

.mat-red {
    background-color: rgb(218, 34, 34);
    color: #fff;
}

.mat-icon {
    color: #1a9e21;
}

.mat-foodeco-white {
    background-color: #fff;
    color: #2c3e4e;
}

.marker {
    height:20px;
    width: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1a9e21;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 87, 12); 
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background: #1a9e21
  }