<form [formGroup]="catalogForm" class="form card p-3" (ngSubmit)="onSubmitForm()">

    <div class="row justify-content-center">
        <div class="col-12 col-md-3 card m-0 p-2 h-25">
            <label class="form-switch col-12">
                <input type="checkbox" formControlName="promote" placeholder="Mettre en avant"
                    class="form-control mt-1">
                <i></i>
                Mettre en avant
            </label>

            <label class="form-switch col-12">
                <input type="checkbox" formControlName="online" placeholder="Mettre en vente" class="form-control">
                <i></i>
                Mettre en vente
            </label>
            <label class="form-switch col-12" *ngIf="!this.updateMode">
                <input type="checkbox" (change)="OnChangeType() "  class="form-control">
                <i></i>
                Produit / Menu
            </label>
        </div>
        <div class="col col-md-4 mt-1">
            <div class="form-group">
            <label  > Titre</label>
                <input formControlName="title" placeholder="Titre" class="form-control mr-2" />
            
            </div>
            <div class="form-group">
            <label>Prix</label>
                <input type="number" formControlName="price" placeholder="Prix" class="form-control"   />
            
            </div>

        </div>


        <div class="col-md-4  ">
            <div formArrayName="assets" class="card m-0 ">
                <div class="card-header" *ngIf="isMenu">Produits</div>
                <div class="card-header" *ngIf="!isMenu">Composants</div>
                
                <div class="card-body">

                    <div class="form-row align-items-center"
                        *ngFor="let item of labelAsset.controls; let assetIndex=index" [formGroupName]="assetIndex">

                        <select formControlName="id" (change)="duplicateEntry()" 
                            class="form-control form-control-sm col col-sm-5 col-md-5 ">
                            <option></option>
                            <option value="{{this.getCatalogIdOrAssetId(asset)}}"  *ngFor="let asset of assetTab">
                                {{this.getCatalogTitleOrAssetLabel(asset)}}</option>
                        </select>
                        <input formControlName="quantity" *ngIf="isMenu" type="number"  min="1" step="1"
                        class="form-control form-control-sm col-2 col-sm-2 col-md-3" />
                        <input formControlName="quantity" *ngIf="!isMenu" type="number" min="0.1"
                            class="form-control form-control-sm col-2 col-sm-2 col-md-3" />

                        <button type="button" class="btn btn-danger col col-sm-1 col-md-1"
                            (click)="deleteAsset(assetIndex)" *ngIf="assetIndex!=0"><span class="material-icons mt-1">
                                remove
                            </span>
                        </button>

                    </div>

                </div>
                <div class="card-footer">
                    <button class="mat-focus-indicator mat-fab mat-button-base mat-primary " type="button"
                        (click)="addAsset()"><span class="mat-button-wrapper ">
                            <mat-icon _ngcontent-swl-c173="" role="img" class="mat-icon notranslate material-icons"
                                aria-hidden="true">add</mat-icon>
                        </span> </button>
                </div>
            </div>
            <div *ngIf="isDuplicateItem" class="alert alert-danger" role="alert">
                il y'a des doublons 
            </div>
        </div>


    </div>
    <div class="row justify-content-center">
        <button type="submit" *ngIf="updateMode==false"  class="btn btn-primary" [disabled]="catalogForm.invalid || isDuplicateItem">Creer</button>
        <button type="submit" *ngIf="updateMode==true" class="btn btn-primary" [disabled]="catalogForm.invalid || isDuplicateItem">Mettre a jour</button>
        <button [routerLink]="[ '/listCatalog']" class="btn btn-secondary">Retour</button>
    </div>
    
</form>
