/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logoFoodEco {
  width: 140px;
  height: 140px;
  margin: auto;

}
.BiglogoFoodEco {
  width: 350px;
  height: 350px;
  margin: auto;
  text-align: center;
}
.contentBackground{
  background:#2c3e4e;
}
.container-fluid{
  background:#2c3e4e;
}
