<form [formGroup]="lotFormGroup" class="card card-body" (ngSubmit)="onSubmitForm()">
  <div class="row ">
    <div class="form-group col-md-4 " *ngIf="!addAssetToSupplierBool">
      <label>Fournisseurs/Composants</label>
      <select formControlName="assetSupplier" class="form-control form-control-sm ">
        <ng-container *ngFor="let supplier of suppliers">

          <optgroup label="{{supplier.name}}" *ngIf="supplier.supplierDetails!=null">
            <option *ngFor="let supplierDetails of supplier.supplierDetails" value="{{supplierDetails.idAsset}}-{{supplier.idSupplier}}">{{supplierDetails.Asset.label}}<span
                class="float-right pull-right mr-0"> {{supplierDetails.Asset.Unit.abrv}}</span></option>
          </optgroup>

        </ng-container>
      
      </select>

    </div>

    <div class="form-group col-md-4 " *ngIf="addAssetToSupplierBool">
      <label>Composants</label>
      <select formControlName="idAsset" class="form-control form-control-sm ">
        <option  value=""></option>
            <option *ngFor="let asset of assets" value="{{asset.idAsset}}">{{asset.label}}<span
                class="float-right pull-right mr-0"> {{asset.Unit.abrv}}</span></option>
      </select>
 
    </div>
    <div class="form-group col-md-4 " *ngIf="addAssetToSupplierBool">

    <label>Fournisseurs</label>
    <select formControlName="idSupplier" class="form-control form-control-sm ">
      <option  value=""></option>
          <option *ngFor="let supplier of suppliers" value="{{supplier.idSupplier}}">{{supplier.name}}</option>
    </select>
    </div>
    <div class="col-md-1  " style="margin-top: 38px;">
         <div (click)="addAssetToSupplier()">
           <mat-icon *ngIf="addAssetToSupplierBool">undo</mat-icon>
          <mat-icon *ngIf="!addAssetToSupplierBool">add</mat-icon>
        </div>
    </div>
    <div class="clr-toggle-wrapper ml-1" style="margin-top: 40px;">
      <input type="checkbox" id="toggle1" name="toggle-basic" value="option1" formControlName="bio" class="clr-toggle">
      <label for="toggle1">Bio</label>
    </div>
  
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label>Quantité</label>
      <input type="number" min="0" formControlName="quantity" class="form-control form-control-sm ">
    </div>
    <div class="form-group col-md-4">
      <label>Quantité actuelle</label>
      <input type="number" min="0" max="{{lotFormGroup.value.quantity}}" formControlName="currentQuantity" class="form-control form-control-sm ">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label>Prix unitaire</label>
      <input type="number" formControlName="price" class="form-control form-control-sm ">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <mat-form-field class="half">
        <mat-label>Date de délivrance</mat-label>
        <input matInput  [matDatepicker]="picker"  style="z-index: 1000;" formControlName="deliveryDate"  disabled>
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    </div>
    <div class="form-group col-md-4">
      <mat-form-field class="half" >
        <mat-label>Date d'éxpiration</mat-label>
        <input matInput [matDatepicker]="picke" [min]="lotFormGroup.value.deliveryDate"   formControlName="expireDate"  disabled>
        <mat-datepicker-toggle matSuffix [for]="picke" style="z-index: 1;"></mat-datepicker-toggle>
        <mat-datepicker #picke disabled="false" style="z-index:1;"></mat-datepicker>
    </mat-form-field>
      </div>
  </div>


  <button type="submit" [disabled]="lotFormGroup.invalid" *ngIf="!updateMode" class="btn btn-success">Créer</button>
  <button type="submit" [disabled]="lotFormGroup.invalid" *ngIf="updateMode" class="btn btn-success">Modifier</button>

</form>

