<div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <form [formGroup]="supplierFormGroup" (ngSubmit)="onSubmit()" class="col-md-12">
                <h3 class="text-center">Formulaire d'ajout fournisseurs </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input placeholder="Nom" id="name" formControlName="name"
                                class="col-md-12 form-control form-control-sm  ">
                        </div>
                        <div class="form-group">
                            <label for="firstName">Email</label>
                            <input placeholder='Email' formControlName="email"
                                class="col-md-12 form-control form-control-sm  ">
                        </div>
                        <div class="form-group">
                            <label for="firstName">Téléphone</label>
                            <input type="tel"
                                pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                placeholder="Tel" formControlName="tel" class="col-md-12 form-control form-control-sm ">
                        </div>
                        <div class="form-group">
                            <label for="firstName">Adresse</label>
                            <input placeholder="Adresse" formControlName="address"
                                class="col-md-12 form-control form-control-sm ">
                        </div>
                    </div>

                    <div class="col-md-6  ">
                        <div formArrayName="supplierDetails" class="card m-0 ">
                            <div class="card-header">Produits</div>


                            <div class="card-body">

                                <div class="form-row align-items-center"
                                    *ngFor="let item of supplierDetails.controls; let assetIndex=index"
                                    [formGroupName]="assetIndex">

                                    <select formControlName="id" (change)="duplicateEntry()"
                                        class="form-control form-control-sm col col-sm-9 col-md-9 ">
                                        <option></option>
                                        <option value="{{asset.idAsset}}" *ngFor="let asset of assetTab">
                                            {{asset.label}}</option>
                                    </select>

                                    <button type="button" class="btn btn-danger col col-sm-1 col-md-1"
                                        (click)="deleteSupplierDetails(assetIndex)" *ngIf="assetIndex!=0"><span
                                            class="material-icons mt-1">
                                            remove
                                        </span>
                                    </button>

                                </div>

                            </div>
                            <div class="card-footer">
                                <button class="mat-focus-indicator mat-fab mat-button-base mat-primary " type="button"
                                    (click)="addSupplierDetails()"><span class="mat-button-wrapper ">
                                        <mat-icon _ngcontent-swl-c173="" role="img"
                                            class="mat-icon notranslate material-icons" aria-hidden="true">add
                                        </mat-icon>
                                    </span> </button>
                            </div>
                        </div>
                        <div *ngIf="isDuplicateItem" class="alert alert-danger" role="alert">
                            il y'a des doublons
                        </div>
                    </div>

      

                </div>          
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success" [disabled]="supplierFormGroup.invalid"
                        *ngIf="updateMode!=true">Créer</button>
                    <button type="submit" class="btn btn-success" [disabled]="supplierFormGroup.invalid"
                        *ngIf="updateMode==true">Modifier</button>
                        <button type="button" class="btn btn-success" *ngIf="updateMode==false" [routerLink]="['/supplier']" routerLinkActive="router-link-active"  >Retour</button>
                        <button type="button" class="btn btn-success" *ngIf="updateMode==true" [routerLink]="['/supplier/',this.idSupplier]" routerLinkActive="router-link-active"  >Retour</button>
                </div>    
            </form>

        </div>


    </div>

</div>